.mainPage {
	display: flex;
	justify-content: center;
	align-items: center;
}

.firstSection {
	display: flex;
	flex-direction: column;
	flex-basis: 25%;
}

.secondSection {
	flex-basis: 40%;
}

.thirdSection {
	flex-basis: 25%;
}
